@mixin centered($width){
  width: $width;
  margin: 0 auto;
}

@mixin about($margin-bottom, $column-count, $font-size, $line-height, $image-width){
  #about-me{
    margin-bottom: $margin-bottom;
    p{
      text-align: justify;;
      column-count: $column-count;
      column-gap: 20px;
      font-size: $font-size;
      line-height: $line-height;
    }
  }
  img{
    display: block;
    margin: 0 auto;
    width: $image-width;
    height: auto;
  }

}




@media (max-width: 800px) {
  #menu{
    display: none;
  }
  .center-container{
    @include centered(95%);
  }
  #start{
    background-position: 60%;
  }
  #about{
    @include about(3%, 1, 13px, 1.2em, 60%);
  }
  .image{
    width: 130px;
    height: 70px;
  }
  img{
    height: 95px;
  }
  #contact{
    #form{
      display: none;
    }
    #social-media{
      text-align: center;
      i{
        font-size: 50px;
        margin-left: 18px;
        margin-top: 30px;
      }
    }
  }
}
@media (min-width: 801px) {
  #hamburger-menu{
    display: none;
  }
  .center-container{
    @include centered(80%);
  }
  #about{
  @include about(3%, 2, 17px, 1.3em, 30%);
  }
  #gallery{
    .image{
      width: 230px;
      height: 170px;
    }
    img{
      height: 190px;
    }
  }

  #form{
    max-width: 90%;
    float: left;
  }
  #social-media{
    i{
      font-size: 50px;
      margin-left: 18px;
    }
  }
}
