@mixin centered($width){
  width: $width;
  margin: 0 auto;
}

@mixin about($margin-bottom, $column-count, $font-size, $line-height, $image-width){
  #about-me{
    margin-bottom: $margin-bottom;
    p{
      text-align: justify;;
      column-count: $column-count;
      column-gap: 20px;
      font-size: $font-size;
      line-height: $line-height;
    }
  }
  img{
    display: block;
    margin: 0 auto;
    width: $image-width;
    height: auto;
  }
}




@media (max-width: 800px) {
  .center-container{
    @include centered(95%);
  }
  #about{
    @include about(3%, 1, 14px, 1.2em, 65%);
  }
  .image{
    width: 130px;
    height: 70px;
  }
  img{
    height: 95px;
  }

}
@media (min-width: 801px) {
  .center-container{
    @include centered(80%);
  }
  #about{
  @include about(3%, 2, 17px, 1.3em, 30%);
  }
  #gallery{
    .image{
      width: 230px;
      height: 170px;
    }
    img{
      height: 190px;
    }
  }
}
